*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: rgb(18, 18, 18);
}
.container_all{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.container_one{
    height: 25vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border : 2px solid red;
}
.box{
    height: 20vh;
    width: 70%;
    border: 2px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:30px ;
}
.image img{
    height: 120px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid yellow;
}
.headings{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
/* ------------------------------------------------ */

.container_two{
    height: 8vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top:10px ;
}
.first_heading{
    color: #fff;
    padding: 10px;
}
.container_three{
    height: 30vh;
    width: 80%;
    border-bottom: 2px solid #fff;
  
}
.heading_1{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.heading_2{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.heading_3{
    color:cornflowerblue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.box_2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coupon_section{
    color: #fff;
    border: 2px solid #fff;
    height: auto;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
    background-color: rgb(58, 59, 62);
}
.coupon_section h3 i{
    font-size: 25px;
    color: cornflowerblue;
    padding-left: 10px;
  
}
/* ------------------------------------------------------------- */
.container_four{
    height: 8vh;
    width: 80%;
    margin-top: 10px;
}
.heading_bill{
    color: #fff;
    padding: 10px;
}
/* ------------------------------------------ */
.container_five{
    height: 20vh;
    width: 80%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.two_box{
    height: 13vh;
    width: 25%;
    border: 2px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(32, 30, 30);
}
.heading_box{
    color: #fff;  
}
.heading_box h3{
    padding: 5px 40px; 
    background-color:cornflowerblue; 
    border-radius: 10px;
}
.heading_box h2{
    padding: 5px 5px 0px 0px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.two_box:hover{
    border-color: cornflowerblue;
}
/* -------------------------------------------------- */
.container_six{
    height: 8vh;
    width: 80%;
    /* border: 2px solid white; */
    margin-top:10px ;   
}
.heading_players{
    color: #fff;
    padding: 10px;
}
/* ------------------------------------------------------------- */
.container_seven{
    height: 8vh;
    width: 80%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px ;   

}
.headings_all_players{
    display: flex;
    color: #fff;  
    padding: 0px 10px;
}
.headings_all_players h2{
    padding: 0px 30px;

}
.headings_all_players h2:hover{
    background-color: cornflowerblue;
    border-radius: 10px;
}