*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: rgb(18, 18, 18);
}
.main-section{
    height: 100vh;
    width: 100%;
}
.all_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
}
.container_1{
    height: 25vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #fff;
}
.pitch_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 60%;
}
.heading_button_one h3{
    padding: 20px 0px;
    color: #fff;
}
.heading_button_one h2{
    border: 2px solid black;
    padding: 5px 30px;
    border-radius: 50px;
    color: #fff;
    background-color: blueviolet;


}
.heading_button_two h3{
    padding: 20px 0px;
    color: #fff;

}
.heading_button_two  h2{
    border: 2px solid black;
    width: 30px;
    border-radius: 20px;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: blueviolet;  
}
/* -----------------------container_2---------------------------------------- */

.container_2{
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: stretch;
    align-items: center;

}
.calender_section{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;  
    width: 90%; 
}
.days_months{
    padding: 10px 30px; 
    text-align: center;
}
.days_months h4{
   color: #fff;
   padding: 5px;
}
.days_months h4:hover{
    background-color: blueviolet;
 }

/* ---------------------------------------------------- */
.container_3{
    min-height: 10vh;
    width: 80%;
    border-bottom: 2px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.inner_headings{
    display: flex;
    flex-direction:row ;
    color: #fff;
    width: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 250px;
    border: 2px solid gray;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 1rem;
}
.offer_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -15%;
    transform: rotate(-90deg);
    background-color: gray;
}
.offer_heading h5{
    padding: 5px;
    padding-left: 15px;
    width: 100px;
    
}
.heading_two{
    margin: 0rem .5rem;
}
.icon i{
    padding: 5px;
    font-size: 40px;
    color: blueviolet   ;
}
.heading_two h3{
    padding:  0px 5px;
}
/* -------------------------------------------------- */
.container_4{
    height: 30vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #fff;
    border: 2px solid red;
    margin-top: 10px;
}
/* -------------------------------------------------------- */
.button_book{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.button_book button {
    color: white;
    background-color: #5254f8;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}


/* ------------------------------------------------------ */
/* footer */

.main_last {
    width: 100%;
    min-height: 40vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 26, 28);
}

.container_last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.first img {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.second_last {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.second img {
    height: 80px;
    margin-top: 33px;
}

.third img {
    height: 150px;
    margin-bottom: 15px
}

.heading_last {
    font-size: 15px;
    color: white;
    margin-top: 15px;
}

.footer_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}


.company_one li {
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    color: darkgrey;
    display: flex;
    justify-content: space-between;

}

.social_one li {
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    color: darkgrey;
    display: flex;
    justify-content: space-between;
}

.color_white {
    color: white;
}

@media screen and (max-width:850px) {
    .main_last {
        width: 100%;
        background-color: rgb(25, 26, 28);
    }
    .container_last {
        width: 100%;
    }
}

@media screen and (max-width:750px) {
    .main_last{
        /* padding: 10px; */
    }
    .image_last {
        width: 100%;
    }

    .heading_last {
        margin-bottom: 50px;
    }
    .footer_one {
       
        width: 100%;
    }
    .container_last {
        display: flex;
        flex-direction: column;
    }

}
