* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'segoe ui';
    background-color: rgb(18, 18, 18);
}

/* ------------------------------navbar start----------------------------------- */
.nav {
    height: 50px;
    width: 100%;
    background-color: rgb(18, 18, 18); 
    position: relative;

}
.nav-title a{
    text-decoration: none;
    color: #fff;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

.nav>.nav-links button {
    padding: 10px 20px;
    background-color: rgb(82, 84, 248);
    color: #fff;
    border-radius: 20px;
}

@media (max-width:750px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
/* ------------------------------------navbar end----------------------------------- */
.main_section {
    width: 100%;
    min-height: 100vh;
}

.all_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.container_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 10vh;
    width: 70%;

}

.container_1 h3 {
    padding-left: 10px;
    color: #fff;
}

.container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 70%;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sliderWrapper{
    display: none;
}
.images_1 img {
    height: 400px;
    width: 500px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    margin-right: 5px;
}

.images_2 {
    display: flex;
    flex-direction: column;
}

.images_2 img {
    height: 200px;
    width: 500px;
    object-fit: cover;
    border-radius: 0px 20px 20px 0px;
    margin-bottom: 5px;

}



@media screen and (max-width:1300px) {
    .images_1 img {
        height: 350px;
        width: 450px;
    }

    .images_2 img {
        height: 175px;
        width: 450px;
    }
}

@media screen and (max-width:1150px) {
    .images_1 img {
        height: 300px;
        width: 400px;
    }

    .images_2 img {
        height: 150px;
        width: 400px;
    }
}

@media screen and (max-width:1000px) {
    .images_1 img {
        height: 300px;
        width: 350px;
    }

    .images_2 img {
        height: 150px;
        width: 350px;
    }
}

@media screen and (max-width:850px) {
    .images_1 img {
        height: 300px;
        width: 300px;
    }

    .images_2 img {
        height: 150px;
        width: 300px;
    }

    .container_2 {
        display: none;

    }

    .sliderWrapper {
        display: block;
        width: 100%;
        height: 500px;
        padding: .5rem;
    }


    .image_first img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-slide{
        object-fit: cover;
    }
}
/* -------------------------------------------------------------------------- */
.container_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20vh;
    width: 70%;
    border-bottom: 2px solid black;
}

.content {
    padding: 10px;
}

.content h3  {
    padding-bottom: 20px;
    color: #fff;
}
.content h2  {
    padding-bottom: 20px;
    color: #fff;
}

.button {
    padding: 50px;
    border-radius: 30px;
}

.button button {
    padding: 10px 60px;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    background-color:rgb(31, 96, 217);


}
@media screen and (max-width:850px) {
    .button {
        display: none;
    }
    .container_1{
        min-height: 10vh;
        width: 100%;
    }
    .container_3{
    min-height: 20vh;
    width: 100%;
    }
    .content h2{
        font-size: 20px;
    }
}

/* --------------------------------------------------- */

.main_section2 {
    width: 100%;
    height: 80vh;
    /* border: 2px solid red; */
}

.all_container2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
    /* border: 2px solid red; */
}
.container_one{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    min-height: 30vh;
    border-bottom: 2px solid #fff;
    /* padding: 30px; */
}
.button_one{
    /* padding: 50px; */
    border-radius: 30px;

}
.button_one button{
    padding: 10px 60px;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    background-color:rgb(31, 96, 217);
}
.heading_one{
    padding-bottom: 20px;
}
.heading_one h1{
    padding-bottom: 20px;
    color: #fff;
}
.heading_one h4{
    color: #fff;
}
.container_two{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    min-height: 40vh;
    border-bottom: 2px solid #fff;
    margin-top: 20px;
}
.heading_two h1{
    margin-bottom: 40px;
    color: #fff;
}
.heading_two h3{
    border: 2px solid black;
    border-radius:20px ;
    display:inline-block ;
    padding: 5px 10px;
    background-color: lightslategrey;
    color: #fff;
}
@media screen and (max-width:850px) {
    .button {
        display: none;
    }
    .container_one{
        width: 100%;
    }
    .container_two{
         width: 100%;
    }
    .content h2{
        font-size: 20px;
    }
    .container_one {
        width: 100%;
    }
    .container_two{
        width: 100%;
    }
    .container_3{
        width: 100%;
    }
}

/* ---------------------------------reviews------------------------------------------------------
/*  */

.main_reviews{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    background: rgb(rgb(25, 26, 28));
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.9);
}
.container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #4070f4;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 70%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    width: 50%;
    animation-delay: 0.2s;
}
.skill-per.nodejs{
    width: 30%;
    animation-delay: 0.3s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);

}

/* ---------------------------------------------------------------------- */

.main_reviews_2{
    height: 55vh;
    width: 100%;
    /* border: 2px solid yellow; */
}

  a{
    text-decoration: none;
  }
  #testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
  }
  .testimonial-heading{
    letter-spacing: 1px;
    /* margin: 30px 0px; */
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    /* margin-bottom: 10px; */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
  }
  .testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    /* border: 2px solid blue; */
    overflow-y: auto;

  }
  .testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color:rgb(25, 26, 28);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    /* border: 2px solid red; */
  }
  .profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .profile{
    display: flex;
    align-items: center;
  }
  .name-user{
    display: flex;
    flex-direction: column;
  }
  .name-user strong{
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }
  .name-user span{
    color: #fff;
    font-size: 0.8rem;
  }
  .reviews{
    color: #f9d71c;
  }
  .box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .client-comment p{
    font-size: 0.9rem;
    color: #fff;
  }
  .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }
  @media (max-width:4000px) {
    .testimonial-box-container{
        height: 400px;
    }
  }
  @media(max-width:1060px){
    
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
    .testimonial-box-container{
        height: 400px;
    }
  }
  @media(max-width:750px){
    
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
    .testimonial-box-container{
        height: 400px;
    }
  }
  @media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
    .main_reviews_2{
        height: 60vh;
    }
  }
  ::selection{
    color: #ffffff;
    background-color: #252525;
  }
/* ---------------------------footer---------------------------------------------- */




 .main_last{
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 26, 28);
}
.container_last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.first img{
    height: 50px;
}
.second_last{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.second img{
    height: 80px;
    margin-top: 33px;
}
.third img{
    height: 150px;
    margin-bottom: 15px

}
.heading_last{
    font-size: 15px;
    color: white;
    margin-top: 15px;
}

.footer_one{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    width: 40%;
}


.company_one li{
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    color:darkgrey;
    display: flex;
    justify-content: space-between;

}

.social_one li{
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    color:darkgrey;
    display: flex;
    justify-content: space-between;
}
.color_white{
    color: white;
}

@media screen and (max-width:850px) {
    .main_last{
        width: 100%;
        background-color: rgb(25, 26, 28);
        /* border: 2px solid red; */
    }
    .container_last{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .image_last{
        /* border: 2px solid red; */
        width: 100%;
    }
    .heading_last{
        padding-bottom:20px ;
    }
    
}

@media screen and (max-width:600px) {
    .footer_one{
        /* border: 2px solid red; */
        width: 60%;
    }
    .container_last{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:400px) {
    .footer_one{
        /* border: 2px solid green; */
        width: 100%;
    }
    .container_last{
        display: flex;
        flex-direction: column;
    }
}





