* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: rgb(18, 18, 18);
}

.nav {
    height: 50px;
    width: 100%;
    background-color: rgb(18, 18, 18); 
    position: relative;

}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

.nav>.nav-links button {
    padding: 10px 20px;
    background-color: rgb(82, 84, 248);
    color: #fff;
    border-radius: 20px;
}

@media (max-width:750px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/* --------------------------------------------------------------------END NAVBAR---------------------------------------------- */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    width: 70%;}

.right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;  
}

.right h1 {
    padding: 10px;
    font-size: 50px;
    color: #fff;
}

span {
    color: #5254f8;

}

.right p {
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
.contact-button {
    border: none;
    display: flex;
    border-radius: 0.375rem;
    background-color: #5254f8;
    color: white;
    transform: all 0.1s;
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
}

.image {
    margin-right: 20px;
}

.image img {
    height: 35vh;
    border-radius: 20px;
}


@media screen and (max-width:1400px) {
    .container{
        min-height: 70vh;
        width: 100%; 
        /* border: 2px solid red; */
    }
}
@media screen and (max-width:950px) {
    .image img {
        height: 30vh;
    }
    .right {
        width: 40%;
    }
    .right h1 {
        font-size: 40px;
    }
}
@media screen and (max-width:750px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    .right {
        width: 100%;
    }
    .image {
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    .image img {
        width: 100%;
        height: 30vh;
        
    }
}

/* --------------------------------------------------- */

.main_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    /* border: 2px solid red; */
}

.container_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    width: 70%;
    /* border: 2px solid red; */
}

.image_2 img {
    height: 35vh;
    border-radius: 20px;
}

.left_1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.left_1 h1 {
    font-size: 50px;
    padding: 5px;
    color: #fff;
}

.left_1 p {
    font-size: 20px;
    padding: 5px;
    color: #fff;
}



@media screen and (max-width:1400px) {
    .container_2{
        min-height: 70vh;
        width: 100%; 
        /* border: 2px solid red; */
    }
}
@media screen and (max-width:950px) {
    .image_2 img {
        height: 30vh;
    }
    .left_1 {
        width: 40%;
    }
    .left_1 h1 {
        font-size: 40px;
    }
}
@media screen and (max-width:750px) {
    .container_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        flex-direction: column-reverse; 
    }
    .left_1 {
        width: 100%;
    }
    .image_2 {
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .image_2 img {
        width: 100%;
        height: 30vh;
        margin-top: 20px;
        
    }
}









/* -------------------------------------------------------- */

.main_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
}

.container_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    width: 70%;
}

.right_3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 120px; */
}

.right_3 h1 {
    padding: 10px;
    font-size: 50px;
    color: #fff;
}

.right_3 p {
    font-size: 20px;
    color: #fff;
}

span {
    color: #5254f8;

}

.right_3 p {
    padding: 10px;
    color: #fff;
}

.image_3 {
    margin-right: 20px;
}

.image_3 img {
    height: 35vh;
    border-radius: 20px;
}


@media screen and (max-width:1400px) {
    .container_3{
        min-height: 70vh;
        width: 100%; 
        /* border: 2px solid red; */
    }
}
@media screen and (max-width:950px) {
    .image_3 img {
        height: 30vh;
    }
    .right_3 {
        width: 40%;
    }
    .right_3 h1 {
        font-size: 40px;
    }
}
@media screen and (max-width:750px) {
    .container_3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    .right_3 {
        width: 100%;
    }
    .image_3 {
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    .image_3 img {
        width: 100%;
        height: 30vh;
        
    }
}



/* ------------------------------------------------------- */

.main_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
}

.container_4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    width: 70%;
}

.image_4 img {
    height: 35vh;
    border-radius: 20px;
}

.left_4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 120px; */
}

.left_4 h1 {
    font-size: 50px;
    padding: 5px;
    color: #fff;
}

.left_4 p {
    font-size: 20px;
    padding: 5px;
    color: #fff;
}



@media screen and (max-width:1400px) {
    .container_4{
        min-height: 70vh;
        width: 100%; 
        /* border: 2px solid red; */
    }
}
@media screen and (max-width:950px) {
    .image_4 img {
        height: 30vh;
    }
    .left_4 {
        width: 40%;
        
    }
    .left_4 h1 {
        font-size: 40px;
    }
}
@media screen and (max-width:750px) {
    .container_4 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;  
    }
    .left_4 {
        width: 100%;
    }
    .image_4 {
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-bottom: 20px;
    }
    .image_4{
        width: 100%;
    }
    .image_4 img {
        height: 30vh;  
        margin-top: 20px;  
    }
}
/* --------------------------REVIEWS SECTION---------------------------------- */


.container_review {
    width: 100%;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
}

.container_review h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #fff;
}

.description {
    text-align: center;
    width: 43%;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage span {
    margin-left: 10px;
    color: #5254f8;
}

.clientImage img {
    width: 40px;
    border-radius: 50px;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    width: 400px;
    height: auto;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(46, 49, 54);
    border: 1px solid #10102a;
    transition: all .2s linear;
}

.reviewItem:hover {
    border-color: aqua;
    transform: scale(1.01);
    background-color: #090921;
    box-shadow: 0 0px 5px 0px #cbc0c0;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}
.top ul li i{
    color: goldenrod;
}


article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family: system-ui;
}
@media screen and (max-width:900px) {
    .container_review {
        height: 100vh;
    }
}
@media screen and (max-width:700px) {
    .container {
        height: auto;
    }

    .description {
        width: 90%;
    }
}

@media screen and (max-width:375px) {
    .container_review{
        height: 115vh;
    }
    .container_review h2{
       font-size: 40px;
    }
    .reviewSection {
        padding: 0;
        min-height: auto;
    }

    .reviewItem {
        width: 100%;
        /* height: 30vh; */
        margin: .5rem 1rem;
    }

    .clientImage {
        margin-bottom: 0.6rem;
       
       
    }

    .top {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}
/* ---------------------------END REVIEW SECTION----------------------------- */

/* ------------------------------------------------------ */
/* footer */

.main_last {
    width: 100%;
    min-height: 60vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 26, 28);
}

.container_last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.first img {
    height: 50px;
}

.second_last {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.second img {
    height: 80px;
    margin-top: 33px;
}

.third img {
    height: 150px;
    margin-bottom: 15px
}

.heading_last {
    font-size: 15px;
    color: white;
    margin-top: 15px;
}

.footer_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}


.company_one li {
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    color: darkgrey;
    display: flex;
    justify-content: space-between;

}

.social_one li {
    list-style: none;
    padding-bottom: 20px;
    font-size: 20px;
    color: darkgrey;
    display: flex;
    justify-content: space-between;
}

.color_white {
    color: white;
}

@media screen and (max-width:850px) {
    .main_last {
        width: 100%;
        background-color: rgb(25, 26, 28);
    }
    .container_last {
        width: 100%;
    }
}

@media screen and (max-width:750px) {
    .image_last {
        width: 100%;
    }

    .heading_last {
        margin-bottom: 50px;
    }
    .footer_one {
       
        width: 100%;
    }
    .container_last {
        display: flex;
        flex-direction: column;
    }

}
